# Synthetic Forecasted Data

## Get Original Data

In [40]:
import pandas as pd

In [41]:
df_fc_orig = pd.read_csv('../data/biomass_forecasted.csv')
df_fc_orig.head()

   Unnamed: 0        Date  Latitude  Longitude   Forecast
0           8  2018-01-01  24.66818   71.33144   5.180296
1           9  2019-01-01  24.66818   71.33144   5.180296
2          18  2018-01-01  24.66818   71.41106  42.126945
3          19  2019-01-01  24.66818   71.41106  42.126945
4          28  2018-01-01  24.66818   71.49069  73.203232

In [42]:
d_matrix_orig = pd.read_csv('../../data/Distance_Matrix.csv')
d_matrix_orig.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280

## Create Synthetic Data

In [43]:
df_fc_orig['Date'] = pd.to_datetime(df_fc_orig['Date'])
df_fc_orig['year'] = df_fc_orig['Date'].dt.year
df_fc_orig = df_fc_orig[["Latitude", "Longitude", "Forecast", "year"]]
df_fc_proc = df_fc_orig.pivot_table(index=["Latitude", "Longitude"], columns="year", values="Forecast").reset_index()
df_fc_proc.columns = ["Latitude", "Longitude", "2018", "2019"]
df_fc_proc = df_fc_proc.reset_index(names="Index")

In [44]:
df_fc_proc

      Index  Latitude  Longitude       2018       2019
0         0  20.15456   72.68507   0.057442   0.057442
1         1  20.15456   72.76469  13.510995  13.510995
2         2  20.15456   72.84432   5.321604   5.321604
3         3  20.15456   72.92394   0.120626   0.120626
4         4  20.15456   73.00357   0.038879   0.038879
...     ...       ...        ...        ...        ...
2413   2413  24.66818   72.04807  52.549976  52.549976
2414   2414  24.66818   72.12769   9.861409   9.861409
2415   2415  24.66818   72.20732   7.909709   7.909709
2416   2416  24.66818   72.28694   7.005911   7.005911
2417   2417  24.66818   72.36657   0.177587   0.177587

[2418 rows x 5 columns]

# Export Data

In [45]:
df_fc_proc.to_csv('../data/Biomass_History_Forecast.csv', index=False)
d_matrix_orig.to_csv('../data/Distance_Matrix_Synthetic.csv', index=False)